<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my blog</title>
</head>
<body>
    <h1>welcome to my blog</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>titile:</label> <input type="text" name="title"> <br>
        <textarea name="content" cols="80" rows="10"></textarea> <br>
        <input type="submit" value="publish">
    </form>
    <hr>
    {% for article in articles %}
        <h2>{{ article.title }}</h2>
        <div>{{ article.pub_date }}</div>
        <div>{{ article.text|linebreaks }}</div>
    {% empty %}
        <h2>no articles published</h2>
    {% endfor %}
</body>
</html>