{% extends 'base.html' %}
{% load static %}
{% block title %}
    ansible webadmin
{% endblock %}

{% block content %}
    <div class="row h4">
            <div class="col-sm-3">
                <a href="#">
                    <img src="{% static 'imgs/linux.jpg' %}" width="150px" alt=""><br>
                    host information
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#">
                    <img src="{% static 'imgs/linux.jpg' %}" width="150px" alt=""><br>
                    host added
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#">
                    <img src="{% static 'imgs/linux.jpg' %}" width="150px" alt=""><br>
                    module added
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#">
                    <img src="{% static 'imgs/linux.jpg' %}" width="150px" alt=""><br>
                    run something
                </a>
            </div>
        </div>
{% endblock %}
