{% extends 'base.html' %}
{% load static %}
{% block titile %} index {% endblock %}
{% block content %}
    <div class="row text-center h4">
        <div class="col-md-3">
            <a href="{% url 'mainpage' %}">
                <img src="{% static 'imgs/linux.jpg' %}" width="150px">
                <br>
                info of hosts
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="{% static 'imgs/linux.jpg' %}" width="150px">
                <br>
                add to hosts
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="{% static 'imgs/linux.jpg' %}" width="150px">
                <br>
                add to modles
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="{% static 'imgs/linux.jpg' %}" width="150px">
                <br>
                run tasks
            </a>
        </div>
    </div>
{% endblock %}
